/* General styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#main_page{
    background-image: url(https://backiee.com/static/wallpapers/1000x563/392327.jpg);
    background-size: cover;
    height: 100vh;
}

/* Header */
header {
    background-color: transparent;
    margin-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 40px;
}
nav ul li:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.3);

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    /* font-size: 1.2em; */
    
}

nav ul li a:hover {
    color: rgb(46, 171, 255);
    transition: all .3s ease-in-out;
}

/* Hero Section */
.hero {
    background-image: url('D:\astrophysics.jpeg'); /* Replace with your actual image link */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    /* position: relative; */
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 4em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    margin: 20px 0;
}

.cta-button {
    background-color: #ff4500;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out;
}
/* .explorebtn{
    font-size: 20px;
    background-color: #ff4500;
    color: white;
    border-radius: 5px;
    padding: 10px;
    
} */

.cta-button:hover {
    background-color: #fc8829;
}

/* Topics Section */
.topics {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
    height: 80%;
}

.topics h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #444;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    height: 60vh;
    width: 250px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card h3 a {
    text-decoration: none;
    color: #222;
}

.card h3 a:hover {
    color: #ff4500;
    
}

.card p {
    color: #666;
    font-size: 1.1em;
}

.card:hover {
    transform: scale(1.06);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    align-content: center;
    bottom: 0;
    width: 100%;
}



